@import './shared/fonts';
// PAGES
@import './_index';

// COMPONENTS
@import './header';

/*@import './shared/mixins';


@import './portfolios';
@import './blogs';
@import './about';
@import './cv';

// COMPONENTS

@import './slate-editor';
*/


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color:white;
}

.base-page {
  padding-top: 150px;
  color: white;
}