@import './shared/fonts';
@import './shared/colors';
@import './shared/portfolios';
// PAGES
@import './_index';

// COMPONENTS
@import './header';



/*@import './shared/mixins';


@import './portfolios';
@import './blogs';
@import './about';
@import './cv';

// COMPONENTS

@import './slate-editor';
*/


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.absolute {
  position: absolute;
}

.error {
  font-weight: 700;
  color: red;
}
.clickable {
  cursor: pointer !important;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color:white;
}

.base-page {
  padding-top: 150px;
  color: black;
}

// --------- BASE PAGE -------------

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

// --------- BASE PAGE -------------