@import './shared/fonts';
// PAGES
@import './index';

/*@import './shared/mixins';


@import './portfolios';
@import './blogs';
@import './about';
@import './cv';

// COMPONENTS
@import './header';
@import './slate-editor';
*/


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color:white;
}